* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  //margin: 20px;
  padding: 0;
}

.square {
  //background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.game {
  display: flex;
  flex-direction: row;
}

.board {
  display: grid;
  grid: repeat(3, 2.2em) / repeat(3, 2.2em);
  grid-gap: .3em;

  button {
    border-radius: .2em;
    width: 100%;
    height: 100%;
  }
}

.status {
  margin-bottom: 10px;
}



.game-info {
  border-radius: 1em;
  margin-right: 20px;
  display: flex;
  flex-direction: column;

  button {
    margin-bottom: .3em;
  }
}